body{background: white}
/**{margin: auto;}*/

.bar{
	background-image:linear-gradient(to top,#bcbcbc,#fdfdfd);
	box-shadow:10px 10px 5px grey;
	width:750px;
	height:42px;
}

.ul{list-style:none;margin:auto;}
.floats{
	float:left;
	padding-right:50px;

}
.a{
	text-decoration:none;
	color:#7b7b7b;
}
.box{
	background-image: url('../images/banner.png');
	width:750px;
	height:302px;
}
.images{
	float:left;
	width:396px;
	height:302px;
}
.banner{
	float:left;
	position:relative;
	width:344px;
	height:302px;
}

#img1{
	position:absolute;
	z-index:1;
	width:278px;
	height:280px;
	padding-left:110px;
}
#img2{
	position:absolute;
	z-index:1;
	width:110px;
	height:109px;
	top:8px;
}
#img3{
	position:absolute;
	z-index:1;
	width:110px;
	height:110px;
	top:84px;
	padding-left:57px;
}
#baby{
	position:absolute;
	z-index:1;
	width:87px;
	height:100px;
	top:133px;
}
.main{
	width:750px;
	height:358px;
}
.text{
	height:358px;
	width:418px;
	float:left;
}
.para{
	padding-left:14px;
	color:black;
	font-size:12px;
}
.paranew{
	color:grey;
}
.header{

	background-color:#b2b1b1;
	width:258px;
	height:347px;
	float:left;
	    margin-top: 13px;

}
.h1{
	width:258px;
	height:46px;
	padding-left:12px;
	padding-right:60px;
	
}
.img{
	width:242px;
	height:301px;
	padding-left:16px;
	padding-right:60px;
	
}
.color{
	color:#7e7e7e;
	text-align:center;
    margin-bottom: 0;
}
.red{
	color:#ff0000;

}
#stare1{
	padding-left:38px;
}
.stares{
	background-color:#ffffff;
	width:430px;
	height:168px;
	margin-top:14px;
	float:left;
}
.headersec{
	background-color:#b2b1b1;
	width:290px;
	height:230px;
	margin-top: 13px;
	float:left;
	padding-left:30px;
}
.g{
	color:#7e7e7e;
	text-align:center;
	
}
.r{
color:#ff0000;
}
.main{
	height:358px ;
	width:750px;
}
.mains{
	height:200px;
	width:750px;
}
#stare3{
	margin-left:34px;
	box-shadow:10px 10px 5px grey;
}
#stare4{
margin-left:43px;
box-shadow:10px 10px 5px grey;
}
#stare5{
	margin-left:54px;
	box-shadow:10px 10px 5px grey;

}